body {
  margin: 0;
  font-family: "Courier New", Courier, sans-serif;
  background: url("https://i2.wp.com/rosskimes.mystagingwebsite.com/wp-content/uploads/2018/03/thats-no-moon.jpg?ssl=1") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
